/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
html {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 280px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 390px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 23px;
  }
}

body {
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
@media screen and (min-width: 1024px) {
  body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.result {
  background: linear-gradient(to top, hsl(241deg, 81%, 54%), hsl(252deg, 100%, 67%));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 3rem;
  border-radius: 0 0 2rem 2rem;
}
.result .grey {
  color: hsla(0deg, 0%, 100%, 0.7);
}
.result .grey:last-of-type {
  font-size: 0.8rem;
  text-align: justify;
  width: 73%;
  line-height: 1.2rem;
}
@media screen and (max-width: 360px) {
  .result .grey:last-of-type {
    font-size: 0.9rem;
    width: 87%;
  }
}
@media screen and (max-width: 280px) {
  .result .grey:last-of-type {
    width: 100%;
  }
}
@media screen and (min-width: 390px) {
  .result .grey:last-of-type {
    width: 85%;
  }
}
@media screen and (min-width: 410px) {
  .result .grey:last-of-type {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 550px) {
  .result .grey:last-of-type {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .result .grey:last-of-type {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.result .marks {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: linear-gradient(hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}
.result .marks .total-marks {
  color: hsl(0deg, 0%, 100%);
  font-size: 3rem;
}
.result .marks:nth-child(2) {
  font-size: 0.8rem;
  color: hsla(0deg, 0%, 100%, 0.4);
}
@media screen and (min-width: 1024px) {
  .result .marks {
    margin: 2rem 0;
  }
}
.result .big {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 1024px) {
  .result {
    width: 50%;
    height: 100%;
    border-radius: 2rem;
  }
}

.summary {
  padding: 1rem;
}
.summary .section-heading {
  font-size: 1.1rem;
  color: hsl(224deg, 30%, 27%);
  font-weight: 700;
  margin-bottom: 1rem;
}
.summary .category {
  height: 3rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem 1rem;
}
.summary .category .score {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.summary .category span {
  color: hsl(224deg, 30%, 27%);
  font-weight: 700;
}
.summary .category:first-of-type {
  background-color: hsla(0deg, 100%, 67%, 0.1);
  color: hsl(0deg, 100%, 67%);
}
.summary .category:nth-of-type(2) {
  background-color: hsla(39deg, 100%, 56%, 0.1);
  color: hsl(39deg, 100%, 56%);
}
.summary .category:nth-of-type(3) {
  background-color: hsla(166deg, 100%, 37%, 0.1);
  color: hsl(166deg, 100%, 37%);
}
.summary .category:last-of-type {
  background-color: hsla(234deg, 85%, 45%, 0.1);
  color: hsl(234deg, 85%, 45%);
}
.summary .category i {
  margin-right: 1rem;
}
.summary a {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  display: inline-block;
  background-color: hsl(224deg, 30%, 27%);
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-align: center;
  line-height: 3rem;
  margin-top: 2rem;
}
.summary a:hover {
  background: linear-gradient(to top, hsl(241deg, 81%, 54%), hsl(252deg, 100%, 67%));
}
@media screen and (min-width: 1024px) {
  .summary {
    width: 50%;
    height: 100%;
    padding: 2rem;
  }
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: hsla(224deg, 30%, 27%, 0.5);
  font-size: 0.8rem;
  margin: 2rem 0;
}
.attribution a {
  color: hsla(224deg, 30%, 27%, 0.8);
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .attribution {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 65vw;
    max-width: 50rem;
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px hsl(221deg, 100%, 96%), 0 0 30px hsl(221deg, 100%, 96%);
    border-radius: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 52vw;
  }
}/*# sourceMappingURL=styles.css.map */